@use 'styles/use/utils';

.toggle {
  width: 41px;
  height: 15px;
  border-radius: 42px;
  position: relative;
  background-color: var(--gray-light);
  transition: 400ms;
  transform: translateY(-5px);

  &:disabled {
    pointer-events: none;
    opacity: .6;
  }

  &.active {
    background-color: #00A624;

    .overlay {
      left: 22px;
    }
  }
}

.overlay {
  @include utils.centerVertically();
  left: -2px;
  position: absolute;
  width: 19.71px;
  height: 19.71px;
  border-radius: 50%;
  background-color: var(--pinki-tin);
  transition: 400ms;
}

.table {
  min-width: 1370px;
}

.inner {
  overflow-x: auto;
  @include utils.customScroll(#000);

}

.row {
  th {
    font-size: 18px;

    @include utils.media-max-width(1500) {
      font-size: 16px;
    }
  }
}


.first {
  width: 25%;
}

.username {
  width: 12%;
}

.email {
  width: 23%;
}

.type {
  width: 10%;
}

.switch {
  width: 200px;
}

.sendPassword {
  font-size: 15px;
  margin-left: 10px;
  transition:  400ms;

  &:disabled {
    opacity: .6;
    pointer-events: none;
  }
}

.referal {
  color: #5F5F5F;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  padding-right: 10px;

  a {
    color: var(--pinki-tin);
    font-weight: 700;
    text-decoration-line: underline;
  }

  @include utils.media-max-width(1500) {
    font-size: 15px;
  }
}
