@use 'styles/use/utils';

.form {
  margin-bottom: 50px;
}

.mb {
  margin-bottom: 100px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.title {
  font-size: 24px;
  font-weight: 500;
  line-height: 35px;

  @include utils.media-max-width(1500) {
    font-size: 25px;
  }

  @include utils.media-max-width(1000) {
    font-size: 22px;
  }

  @include utils.media-max-width(650) {
    font-size: 20px;
  }
}

.button {
  width: 180px;
}

.loader {
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputs {
  display: grid;
  grid-template-columns: 1fr;
  gap: 100px;


  @include utils.media-max-width(1600) {
    gap: 40px;
  }

  @include utils.media-max-width(1300) {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  @include utils.media-max-width(900) {
    grid-template-columns: 1fr;
  }
}

.label {
  color: var(--gray-light);
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  margin-top: 11px;
}

.image {
  display: inline-block;
  height: 300px;
  width: 300px;
  margin: 20px 0;
}

.drop {
  > button {
    font-weight: 500;
  }
}

.input {
  display: flex;
  align-items: center;
  height: 49px;
  max-width: 300px;
  gap: 10px;
  border-radius: 9px;
  border: 1px solid #000;
  color: #000;
  font-size: 16px;
  padding: 0 13px;
  cursor: pointer;
  margin-top: 20px;

  svg {
    width: 20px;
  }

  input {
    display: none;
  }
}
