@use 'styles/use/utils';

.section {
  padding: 210px 0 150px;

  h1 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
    line-height: 32px;
  }

  @include utils.media-max-width(1200) {
    padding: 180px 0 100px;

    h1 {
      font-size: 28px;
    }


    p {
      font-size: 16px;
      line-height: 28px;
    }
  }

  @include utils.media-max-width(900) {
    padding: 250px 0 100px;
  }
}
