@use 'styles/use/utils';

.loader {
  width: 100%;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 40px 158px 45px 169px;

  @include utils.media-max-width(1280) {
    padding: 30px 40px 30px 40px;
  }

  @include utils.media-max-width(700) {
    padding: 30px 20px 20px;
  }
}

.title {
  font-size: 48px;
  font-weight: 500;
  line-height: 70px;
  margin-bottom: 25px;

  @include utils.media-max-width(1800) {
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 15px;
  }

  @include utils.media-max-width(700) {
    line-height: 40px;
  }

}

.color {
  color: var(--pinki-tin);
}

.text {
  color: #6D6D6D;
  font-size: 24px;
  font-weight: 300;
  line-height: 35px;
  margin-bottom: 40px;

  @include utils.media-max-width(1800) {
    font-size: 20px;
    line-height: 31px;
  }

  @include utils.media-max-width(700) {
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 30px;
  }
}

.code {
  display: block;
  margin: 40px auto;
  max-width: 280px;
  max-height: 280px;

  @include utils.media-max-width(1800) {
    max-width: 200px;
    max-height: 200px;
    margin: 30px auto;
  }
}

.row {
  & + .row {
    margin-top: 40px;
  }

  @include utils.media-max-width(1800) {
    & + .row {
      margin-top: 20px;
    }
  }
}

.value {
  position: relative;
  border-radius: 9px;
  border: 1px solid #000;
  height: 49px;
  line-height: 47px;
  padding: 0 30px 0 11px;
  margin-bottom: 13px;

  span {
    max-width: 528px;
  }

}

.address {
  display: flex;

  button {
    position: absolute;
    top: 5px;
    right: 15px;
  }

  span {
    @include utils.line-clamp(1);
  }

  @include utils.media-max-width(700) {
    span {
      max-width: 200px;
      @include utils.line-clamp(1);
    }
  }
}

.notification {
  color: var(--gray-light);
  font-size: 14px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}

.circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 18px;
  border-radius: 50%;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  background-color: #FFA800;
  text-align: center;
  margin: 0 9px 0 11px;
}

.selected {
  color: #FFA800;
  font-size: 16px;
  font-weight: 400;
}

.transaction {
  text-align: center;
  color: #6D6D6D;
  font-size: 14px;
  font-weight: 300;
  margin-top: 24px;
}

.bottom {
  height: 128px;
  border-radius: 0px 0px 40px 40px;
  padding: 0 65px;
  background: #FFF;
  box-shadow: 0px -5px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include utils.media-max-width(1280) {
    padding: 20px 30px 30px;
    height: auto;
  }

  @include utils.media-max-width(700) {
    flex-direction: column;
    align-items:  flex-start;
    padding: 25px 20px 30px;
    width: 100%;
  }
}

.site {
  color: #6D6D6D;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px;

  @include utils.media-max-width(1280) {
    font-size: 16px;
  }

  @include utils.media-max-width(700) {
    max-width: 300px;
    margin-bottom: 10px;
  }
}

.total {
  color: #4D4D4D;
  font-size: 18px;
  font-weight: 600;

  @include utils.media-max-width(1280) {
    font-size: 16px;
  }
}

.right {
  @include utils.media-max-width(700) {
    width: 100%;
    margin-top: 20px;
  }
}

.timer {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  width: 119.333px;
  height: 49.285px;
  position: relative;
  text-align: center;
  line-height: 42px;
  border: 2px solid var(--pinki-tin);
  border-radius: 15px;

  @include utils.media-max-width(1280) {
    font-size: 16px;
  }

  @include utils.media-max-width(700) {
    order: -1;
    width: 100%;
  }
}
