@use 'styles/use/utils';

.form {
  display: grid;
  margin-top: 22px;
}

.label {
  color: var(--gray-light);
  font-size: 14px;
  text-transform: capitalize;
  line-height: 20px;
  margin-top: 11px;
}

.input {
  font-weight: 400;
}

.notification {
  color: var(--gray-light);
  font-size: 12px;
  font-weight: 300;
  margin-top: -10px;
}

.dropIn {
  z-index: 5;
}


.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 981px;
  height: auto;
  border-radius: 40px;
  background: #FFF;
  position: relative;


  @include utils.media-max-width(1280) {
    width: 600px;
    height: auto;
    min-height: 400px;
  }

  @include utils.media-max-width(700) {
    min-width: 345px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.close {
  position: absolute;
  top: 50px;
  right: 50px;

  @include utils.media-max-width(1280) {
    top: 30px;
    right: 30px;
  }

  @include utils.media-max-width(700) {
    top: 20px;
    right: 20px;
  }
}
