@use 'styles/use/utils';

.banner {
  padding-top: 228px;
  padding-bottom: 228px;
  position: relative;

  @include utils.media-max-width(500) {
    padding-bottom: 100px;
  }
}

.image {
  position: absolute;
  right: 0;
  top: 120px;
  max-width: 100%;
  z-index: -1;

  @include utils.media-max-width(1500) {
    display: none;
  }
}

.title {
  color: #000;
  font-family: var(--font-family-main);
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 114.286% */
  max-width: 892px;
  margin-bottom: 39px;

  span {
    color: var(--pinki-tin);
  }

  @include utils.media-max-width(500) {
    font-size: 32px;
    line-height: 40px;
  }
}

.text {
  color: #000;
  font-family: var(--font-family-main);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 200% */
  margin-bottom: 34px;
  max-width: 916px;

  @include utils.media-max-width(500) {
    font-size: 16px;
    line-height: 24px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.item {
  display: flex;
  align-items: center;
  gap: 15px;

  color: #000;
  font-family: var(--font-family-main);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px; /* 200% */

  @include utils.media-max-width(500) {
    font-size: 16px;
    line-height: 32px;
  }
}